<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!-- <title>
        <%= htmlWebpackPlugin.options.title %>
    </title> -->
    <title>
        Temperature Inspector
    </title>
    <meta name="description" content="Inspector that reads temperature data from SenseLink">
    <meta property="og:title" content="Temperature Inspector" />
    <meta property="og:url" content="http://sive.serveousercontent.com/" />
    <meta property="og:description" content="Inspector that reads temperature data from SenseLink">
    <meta property="og:image" content="<%= BASE_URL %>img/icons/favicon.ico">

    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"> -->
</head>

<body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>