<template>
  <v-container fluid>
    <v-row align="center" justify="center">
      <v-col class="d-flex" cols="12" sm="6">
        <v-select
          :items="devices"
          label="Device"
          v-model="current_device_id"
          item-text="name"
          item-value="id"
        ></v-select>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <vue-thermometer
        :min="32"
        :max="42"
        v-model="devices.find(device => device.id === current_device_id).temperature"
        style="padding-left: 30px"
      />
    </v-row>
    <v-row align="center" justify="center">
      <h1>{{ devices.find(device => device.id === current_device_id).temperature.toFixed(1) }}°C</h1>
    </v-row>
  </v-container>
</template>

<script>
  import {mapState} from 'vuex'

  export default {
    name: 'Home',
    data: () => ({}),
    created: function () {
      // //legacy
      // let random_range = (min, max) => {
      //     return Math.random() * (max - min) + min;
      // }

      // let change_temperature = () => {
      //   var timestamp = Math.round(+new Date())
      //   var sign = CryptoJS.MD5(timestamp+'#'+app_secret).toString()
      //   var canonial_uri = "/api/v3/record/list"
      //   axios.get(host + canonial_uri, 
      //   {
      //     params:{
      //       app_key,
      //       sign,
      //       size: 1,
      //       timestamp,
      //       device_sn: this.current_device_id,
      //     }
      //   })
      //   .then((response) => {
      //     let records = response.data.data.data.record_list
      //     console.log({records})
      //     if (records.length > 0 && records[0].body_temperature){
      //       this.temperature = records[0].body_temperature
      //     }
      //     // console.log({device: this.current_device_id})
      //     // console.log(this.temperature);
      //   }, (error) => {
      //     console.log(error);
      //   });
      // }
      // change_temperature()
    },
    destroyed: function () {
      //
    },
    computed: {
      ...mapState([
        'devices',
        'current_device_id',
      ]),
    }
  }

</script>
