<template>
  <v-container fluid>
    <v-row align="center" justify="center">
        <v-col cols="12" sm="6">
            <v-list>
                <v-list-item id="temperature-display" v-for="device in devices" :key="device.name">
                    <v-list-item-content>
                        <v-list-item-title v-text="device.name"></v-list-item-title>
                    </v-list-item-content>
                    <v-list-item-icon style="margin: 0;transform: translateY(50%);">
                        {{ device.temperature.toFixed(1) }}°C
                        <v-progress-linear
                            :active="true"
                            :background-opacity="0.3"
                            :bottom="false"
                            :buffer-value="100"
                            :height="4"
                            :indeterminate="false"
                            :query="false"
                            :rounded="true"
                            :stream="false"
                            :striped="false"
                            :top="false"
                            :value="(device.temperature-32)*13"
                            color="light-blue"
                            style="width:30px;-ms-transform: rotate(-90deg) translateX(-30%);transform: rotate(-90deg) translateX(-30%);"
                        ></v-progress-linear>
                    </v-list-item-icon>
                </v-list-item>
            </v-list>
        </v-col>
    </v-row>
  </v-container>
</template>

<style lang="scss">
#temperature-display {
  border-style: solid; 
  border-width: 1px;
  border-color: lightgray;
}
</style>

<script>
  import CryptoJS from 'crypto-js';
  import axios from 'axios';
  import {mapState} from 'vuex'

  var app_key = process.env.VUE_APP_APP_KEY
  var app_secret = process.env.VUE_APP_APP_SECRET
  var host = process.env.VUE_APP_SENSELINK_HOST
  
  export default {
    name: 'Multiview',
    data: () => ({}),
    created: function () {

        // //legacy
        // let random_range = (min, max) => {
        //     return Math.random() * (max - min) + min;
        // }

        let change_device_temperature = (device) => {
          var timestamp = Math.round(+new Date())
          var sign = CryptoJS.MD5(timestamp+'#'+app_secret).toString()
          var canonial_uri = "/api/v3/record/list"

          axios.get(host + canonial_uri, 
          {
            params:{
              app_key,
              sign,
              size: 1,
              timestamp,
              device_sn: device.id,
            }
          })
          .then((response) => {
            console.log({response})
            // let records = response.data.data.data.record_list
            // if (records.length > 0){
            //   device.temperature = records[0].body_temperature
            // }
            // console.log({response})
            // console.log({device: this.current_device_id})
            // console.log(this.temperature);
          }, (error) => {
            console.log(error);
          });
        }

        change_device_temperature("!")
    },
    destroyed: function () {},
    computed: {
      ...mapState([
        'devices',
        'current_device_id',
        'temperature',
      ]),
    }
  }

</script>
