<template>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="SenseTime Logo"
          class="shrink mr-2"
          contain
          src="@/assets/logo_white.png"
          transition="scale-transition"
          width="120"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="http://link.bi.sensetime.com/"
        text
      >
        <span class="mr-2">SenseLink</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>
</template>
<script>
export default {
    
}
</script>