<template>
  <v-app>
    <Navbar />
    <v-main>
      <div id="nav">
        <router-link to="/">Single</router-link> |
        <router-link to="/multi">Multi</router-link>
      </div>
      <keep-alive>
        <router-view/>
      </keep-alive>
    </v-main>
  </v-app>
</template>

<script>
  import Navbar from '@/components/Navbar'
  export default {
    name: 'App',
    components: {
      Navbar,
    },
    // sockets: {
    //     connect: function () {
    //         console.log('socket connected')
    //     },
    //     myResponse: function (data) {
    //         console.log({data})
    //         console.log('this method was fired by the socket server. eg: io.emit("myResponse", data)')
    //     }
    // },
    data: () => ({
      //
    }),
    created: function () {
      this.$store.dispatch('load_devices')
    },
  };
</script>

<style lang="scss">
#nav {
  padding: 15px;

  text-align: center;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #1976d2;
    }
  }
}
</style>